/hardware/kicad/.history/
/data/
/hardware/kicad/*-backups/
/hardware/kicad/fp-info-cache
/hardware/kicad/*-cache.lib
*.FCBak

/.idea/vcs.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/rollercoasterometer2026.iml
/hardware/kicad/~*.lck
*.bak